<div class="container">
	<div class="row" ng-controller="EventsCtrl">
		<div class="row">
      <div class="col-md-12">
      	<input ng-change="filterEvents()" type="text" id="search" class="form-control" ng-model="search" placeholder="Type search phrase here..." />
      </div>
      <div class="col-md-12">
        <form class="form-inline" ng-submit="addEvent()">
          <div class="form-group col-md-3">
            <input type="text" class="form-control" name="name" placeholder="Name" ng-model="event.name" />
          </div>
          <div class="form-group col-md-3">
            <input type="text" class="form-control" name="place" placeholder="Place" ng-model="event.place" />
          </div>
          <div class="form-group col-md-3">
            <input type="text" class="form-control" name="event_date" placeholder="Event date" ng-model="event.event_date" />
          </div>
          <div class="form-group col-md-3">
            <input type="text" class="form-control" name="description" placeholder="Description" ng-model="event.description" />
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
		<div class="col-md-12">
			<table class="table table-striped">
        <thead>
          <tr>
		        <th ng-click="sortEvents('name', sorting.order)" ng-class="sorting.sort_by == 'name' ? 'text-underline' : ''" class="col-md-3">
		          Name
		          <span ng-if="sorting.sort_by == 'name'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
		        </th>
		        <th ng-click="sortEvents('event_date', sorting.order)" ng-class="sorting.sort_by == 'event_date' ? 'text-underline' : ''" class="col-md-2">
		          Date
		          <span ng-if="sorting.sort_by == 'event_date'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
		        </th>
		        <th ng-click="sortEvents('place', sorting.order)" ng-class="sorting.sort_by == 'place' ? 'text-underline' : ''" class="col-md-2">
		          Place
		          <span ng-if="sorting.sort_by == 'place'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
		        </th>
		        <th ng-click="sortEvents('description', sorting.order)" ng-class="sorting.sort_by == 'description' ? 'text-underline' :''" class="col-md-3">
		          Description
		          <span ng-if="sorting.sort_by == 'description'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
		        </th>
		        <th class="col-md-2">Actions</th>
		      </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in events" ng-include="toggleForm(event)"></tr>
        </tbody>
      </table>
  	</div>

  	<script type="text/ng-template" id="form">
      <td>
        <input ng-model="editing.name" type="text" class="form-control" name="name" />
      </td>
      <td>
        <input ng-model="editing.event_date" type="text" class="form-control" name="event_date" />
      </td>
      <td>
        <input ng-model="editing.place" type="text" class="form-control" name="place" />
      </td>
      <td>
        <input ng-model="editing.description" type="text" class="form-control" name="description" />
      </td>
      <td>
        <button ng-click="hideForm()" class="btn btn-default btn-xs">Cancel</button>
        <button ng-click="updateEvent($index)" class="btn btn-success btn-xs">Save</button>
      </td>
    </script>

    <script type="text/ng-template" id="row">
      <td>
        <span>{{event.name}}</span>
      </td>
      <td>
        <span>{{event.event_date}}</span>
      </td>
      <td>
        <span>{{event.place}}</span>
      </td>
      <td>
        <span>{{event.description}}</span>
      </td>
      <td>
        <button ng-click="editEvent(event)" class="btn btn-primary btn-xs">Edit</button>
        <button ng-click="destroyEvent(event, $index)" class="btn btn-danger btn-xs">Destroy</button>
      </td>
    </script>
	</div>
</div>